<!DOCTYPE html>
<html>
  <head>
    <title>Rocco Index</title>
    <style type="text/css">
    </style>
  </head>
  <body>
    <div id="container">
      <ul>
        {{#sources}}
          <li><a class="source" href="{{ url }}">{{ url }}</a></li>
        {{/sources}}
      </ul>
    </div>
  </body>
</html>
